.grand-spain {
	width: 						100%;
	height: 					700px;
	background-image:			url("../img/grand-spain-background.png");
	background-size:			cover;
	background-repeat: 			no-repeat;
	display:					flex;
	align-items:				center;
	align-items:				center;
	padding-left: 				10%;
	padding-top: 				5%;
	box-sizing: 				border-box;

	&_rock {
		background-image: 		url("../img/grand-spain-red-background.png");
		justify-content: 		flex-end;
		padding-right: 			10%;
	}
}

@media(max-width:650px) {
	.grand-spain {
		padding: 				5% 0;

		& .info-block {
			width: 100%;
		}
	}
}