.howto {
	width:						100%;
	background-color: 			rgb(51, 51, 51);
	height:						337px;
	display:					flex;
	justify-content: 			center;
	align-items:				center;

	&__content {
		width: 					63%;
		background-image: 		url(../img/how-it-arrows.png);
		height: 				100%;
		background-repeat: 		no-repeat;
		background-position: 	63px 47px;
		display: 				flex;
		justify-content: 		space-between;
		align-items: 			center;
		background-size: 		85% 19%;
		background-color: 		#333333;
	}

	&__content-item {
		display: 				flex;
		flex-direction: 		column;
		justify-content: 		center;
		align-items: 			center;
		color: 					rgb(232,232,232);
		text-transform: 		capitalize;
		text-decoration: 		none;
		font-family: 			'aleolight', Arial, sans-serif;
		font-size: 				15px;

		&:hover {
			transform:scale(1.1);
			transition: .2s ease-in;
		}
	}
}