@import "../node_modules/normalize-scss/sass/normalize/import-now";

@font-face {
    font-family: 'aleoregular';
    src: url('../../font/Aleo-Font/wfk/aleo-regular-webfont-webfont.woff2') format('woff2'),
        url('../../font/Aleo-Font/wfk/aleo-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 	'aleolight';
    src: 			url('../font/Aleo-Font/wfk/aleo-light-webfont-webfont.woff2') format('woff2'),
					url('../font/Aleo-Font/wfk/aleo-light-webfont-webfont.woff') format('woff');
    font-weight: 	normal;
    font-style: 	normal;
}

@import "header";
@import "why-choose";
@import "how-it-works";
@import "grand-spain";
@import "tourist-say";
@import "footer";
@import "common.blocks/info-block";
@import "common.blocks/linkbutton";
@import "common.blocks/menu-bar";
@import "common.blocks/logo";
@import "common.blocks/c-form.scss";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

nav {
    width: 100%;
    height: 82px;
    background-color: rgb(84, 116, 253);
}


