.c-form {
    width:                  655px;
    height:                 54px;
    display:                flex;
    justify-content:        space-between;
    align-items:            center;
    background-color:       #fff;
    padding:                2px;
    box-sizing:             border-box;
    margin-top:             50px;

    &__textfield {
        height:                 100%;
        width:                  504px;
        border:                 none;
        background-color:       #fff;
        padding:                0 20px;
        font-size:              18px;
        color:                 rgb(5, 16, 28);
        outline:                none;
        text-align:             center;
        font-family: 		    'Josefin Sans', sans-serif;
        font-weight:            300;
        letter-spacing:         2px;
    }

    &__textfield::placeholder {
        color:                 rgb(153, 153, 153);
    }

    &__textfield:focus {
        border-left:            4px solid rgb(53, 91, 130);
        text-align:             center;
    }
    /*
    &_subscribe {
        padding-left:           150px;
        width:                  51%;
        height:                 65px;
        flex-direction:         row;
        margin-top:             30px;
    }

    &__textfield_subscribe {
        width:                  74%;
        padding:                0;
        background-color:       #fff;
        border:                 1px solid rgb(38, 38, 38);
        padding-left:           25px;
    }
    
    &__textfield_subscribe::placeholder {
        color:                  rgb(189, 189, 189);
    }
    
    &__textfield_subscribe:focus {
        background-color:       #fff;
        color:                  rgb(38, 38, 38);
    }*/
}

@media (max-width: 768px) { 
    .c-form {
        flex-direction:     column;
        height:             auto;
        background-color:   transparent;
        gap:                20px;
        width:              67%;

        &__textfield {
            width:          100%;
        }
    }
}