@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap');

.info-block {
    width:                  541px;
    height:                 auto;
    background-color:       rgba(0,0,0, .65);
    box-sizing:             border-box;
    padding:                50px 30px;
    font-family:            'Josefin Sans', sans-serif;
    font-weight:300;

    
    &__title {
        text-transform:         uppercase;
        font-weight:            400;
        font-size:              20px;
        margin-bottom:          33px;
        
        &_pre {
            text-transform:     capitalize;
            font-weight:        300;
        }
    }

    &__descript {
        padding-bottom:         50px;
    }
}

























