@font-face {
    font-family: 'aleoregular';
    src: url('../../font/Aleo-Font/wfk/aleo-regular-webfont-webfont.woff2') format('woff2'),
        url('../../font/Aleo-Font/wfk/aleo-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.linkbutton {
    display:                flex;
    justify-content:        center;
    align-items:            center;
    height:                 60px;
    width:                  227px;
    background-color:       rgb(84, 116, 253);
    margin:                 0;
    border:                 none;
    text-decoration:        none;
    padding:                10px;
    box-sizing:             border-box;
    text-transform:         uppercase;
    color:                  #fff;
    font-family: 			'aleoregular', Arial, sans-serif;
    
    &:hover {
        transform:           scale(1.09, 1.09);
        transition:          .2s ease-in;
    }
}

