.linkbutton {
    display:                flex;
    justify-content:        center;
    align-items:            center;
    height:                 50px;
    width:                  227px;
    background-color:       rgb(84, 116, 253);
    margin:                 0;
    border:                 none;
    text-decoration:        none;
    padding:                10px;
    box-sizing:             border-box;
    text-transform:         uppercase;
    color:                  #fff;
    font-family: 			'aleoregular', Arial, sans-serif;
    transition:          .2s ease-in-out;
    gap: 10px;
    
    &:hover {
        transform:            scale(1.09, 1.09);
    }

    &_subscribe {
        width:          148px;
        cursor:         pointer;

        &:hover {
            background-color:       rgb(32, 149, 196);
            transform:              none;
        }
    }

    &__icon {
        font-size:      1.2em;
    }
}

