.linkbutton {
    display:                flex;
    justify-content:        center;
    align-items:            center;
    height:                 50px;
    width:                  227px;
    background-color:       rgb(84, 116, 253);
    margin:                 0;
    border:                 none;
    text-decoration:        none;
    padding:                10px;
    box-sizing:             border-box;
    text-transform:         uppercase;
    color:                  #fff;
    font-family: 			'aleoregular', Arial, sans-serif;
    
    &:hover {
        transform:           scale(1.09, 1.09);
        transition:          .2s ease-in;
    }

    &_subscribe {
        width: 148px;
    }
}

