@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.logo {
	text-transform: 		uppercase;
	color: 					#fff;
	font-family: 			'Josefin Sans', sans-serif;
	font-weight: 			600;
	font-size: 				10px;

	&__hero {
		font-size: 			38px;
		margin: 			5px;
		padding: 			0;
		letter-spacing: 	9px;
	}

	&__footer {
		font-size:			22px;
		letter-spacing: 	5px;
	}
}